---
import Layout from '../../layouts/Layout.astro';
import AuthLayout from '../../components/auth/AuthLayout';
import SignupForm from '../../components/auth/SignupForm';

// If user is already logged in, redirect to home page
const user = Astro.locals.user;
if (user) {
  return Astro.redirect('/');
}
---

<Layout title="Create account - 10x Cards" showTopbar={false}>
  <div class="flex flex-col min-h-screen">
    <main class="flex-grow">
      <AuthLayout 
        client:load 
        title="Create an account" 
        subtitle="Sign up to start building your flashcards"
      >
        <SignupForm client:load />
      </AuthLayout>
    </main>
  </div>
</Layout>
