---
import Layout from '../layouts/Layout.astro';
import ButtonDemo from '../components/ButtonDemo.tsx';
---

<Layout title="10xCards - Astro + shadcn/ui">
	<main>
		<ButtonDemo client:load />
	</main>
</Layout>
